MCSimulations/example_simulation/runs/_kappa_20.0_surftension_1.0_networkcolumns_20_speedpulling_0.0001_kharmonic_1.0_req_5.5_positionbead_50_seed_111_scalelattice_1.3/EXEtutorial
MCSimulations/src_python/__pycache__/ProduceInitialConfig.cpython-313.pyc
